*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: url(./imagenes/bg-header2.jpg) rgb(6, 6, 6);
    background-size: cover;
    color: #fff;
    font-size: 16px;
    height: 110vh;
    background-repeat: repeat space;

    

}



.wrap {
    width: 90%;
    max-width: 1000px;
    margin: auto;

}

.widget {
    width: 50%;
    margin: 2em;
    margin: 32px;
    margin: auto;
}

.widget p {
    display: inline-block;
    line-height: 1em;
}

.fecha {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 5);
    padding: 20px;
    width: 100%;
}

.reloj {
    
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0, 5);

}

.reloj .caja-segundos {
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
    font-size: 4rem;
    display: block;
    display: inline-block;

}




.linea{
    width: 39%;
    margin: auto;
}

.roundBorder{
    border-radius: 5px;
}



.list {
    margin: 25px auto;
    padding: 35px;
    width: 30%;
    background-color: black;
    max-width: 400px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight{
    display: flex;
    align-items: center;
}

#dateNumber{
    font-size: 50px;
}

#dateText{
    letter-spacing: 3px;
    text-transform: uppercase;
}

#datteMonth,
#dateNumber,
#dateText {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}


form{
    margin: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

input:focus{
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton{
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
}

.task{
    background-color: rgb(110, 175, 138);
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.done{
    text-decoration: line-through;
}

*:first-letter {
    text-transform: capitalize;
}


/*/*/


.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }
  
  .show {
    pointer-events: auto;
    opacity: 1;
  }
  
  .modal {
    background-color: rgb(1, 0, 0);
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  
  
  .modal p {
    opacity: 0.7;
    font-size: 14px;
  }

  .botone {
    
  margin-left: 45%;
  
  
    background-color: #47a386;
    border: 20px;
    border-radius: 8x;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    text-align: center;
  }
.botones{
  background-color: #47a386;
  border: 20px;
  border-radius: 8x;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
  text-align: center;
  }

  /*calendario*/

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
 
  .title {
    text-align: center;
    color: #444; }
  
  .calendar {
    background: #2d3333;
    width: 90%;
    max-width: 800px;
    margin: 1em auto;
    padding: .6em 0; }
    .calendar__info {
      
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 2em;
      font-size: 1.2em;
      text-transform: uppercase; }
    .calendar__prev, .calendar__next {
      color: rgb(110, 175, 138);
      cursor: pointer;
      font-size: 1.3em; }
    .calendar__prev {
      margin-right: auto; }
    .calendar__next {
      margin-left: auto; }
    .calendar__week, .calendar__dates {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 10px; }
    .calendar__month, .calendar__year {
      padding: .5em 1em; }
    .calendar__item {
      text-align: center;
      line-height: 2; }
    .calendar__today {
      background: rgb(110, 175, 138);
      color: white;
      width: 50%;
      border-radius: 50%;
      margin: auto; }
    .calendar__last-days {
      opacity: .3; }
  
  
      /*/*/
    

  

      
      #contenedor {
        text-align: center;
    display: grid;
    grid-gap: 10px;
    margin: 25px auto;
    
    width: 40%;
    background-color: black;
    max-width: 400px;
}
       
    
.infi{
  text-align: center;

  display: grid ;
    
   
   
}
  
    
    
    /*/**/

    